<h1>Pokédex</h1>

<p>La Pokédex (en japonés:ポケモン図鑑 enciclopedia Pokémon ilustrada) 
    es una herramienta invaluable para los Entrenadores en el mundo Pokémon. 
    Da información sobre todos los Pokémon del mundo que están contenidos en su base de datos, 
    aunque difiere en cómo adquiere y presenta la información en los diferentes medios. 
    Sin embargo, también se otorgan solo a unos pocos Entrenadores a la vez, 
    generalmente a los que se considera que tienen un potencial y una habilidad excepcionales. 
    Las Pokédex regionales brindan información sobre los Pokémon nativos de una región en particular, 
    mientras que la Pokédex nacional registra información sobre todos los Pokémon conocidos. 
    Si bien el concepto de Pokédex existe desde hace mucho tiempo, 
    la versión digital es un invento más reciente creado por el profesor Oak.</p>
